html, body{
  background-color: #262626;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/*SIDEBAR*/

.judulside{
  color: #FFFFFF;
  font-family: Poppins, Verdana, sans-serif;
  text-align: left;
  padding-left: 10%;
  letter-spacing: 1px;
  margin-top: 15%;
}

.menuside{
  font-family: Poppins, Verdana, sans-serif;
  padding-top: 5%;
}

.menuside a{
  border-radius: 15px;
  color: #FFFFFF;
  text-align: justify;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-top: 5%;
}

.menuside a.active {
  background-color: #97B6EC;
  border: 3px #97B6EC solid;
  border-radius: 10px;
  color: #262626;
}

.menuside a:hover:not(.active) {
  color: #FFFFFF;
  cursor: pointer;
}

.iconsidebar a{
  color: #FBF2ED;
  text-decoration: none;
}


/*ISI MATERI*/
.materi{
  background-color: #ffffff;
  border: 3px;
  border-radius: 10px;
  color: #282828;
  height: 470px;
  padding: 3%;
  overflow: auto;
  margin-top: 7%;
}

.jdlsubmateri{
  color: #262626;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #97B6EC;
  border: 3px;
  border-radius: 10px;
  text-align: center;
  padding: 1%;
}

.jdlapersepsi{
  color: #282828;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FF9F98;
  border: 3px #282828 solid;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  padding: 1%;
  font-size: 1vw;
  margin-top: 3%;
}

.ktrapersepsi{
  color: #282828;
  font-family: Source Sans Pro;
  background-color: #FBF2ED;
  border: 3px solid #282828;
  width: 100%;
  text-align: justify;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: -15px;
}

.videoapersepsi{
  margin-top: 25px;
  width: 70%;
  border-radius: 0;
}

.tujuan{
  color: #282828;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FF9F98;
  border: 3px #282828 solid;
  border-radius: 10px;
  width: auto;
  padding: 1%;
  font-size: 1vw;
  margin-top: 3%;
  font-size: 1vw;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.ktrtujuan{
  color: #282828;
  font-family: Source Sans Pro;
  background-color: #FBF2ED;
  border: 3px solid #282828;
  text-align: justify;
  padding: 2%;
  margin-top: -2%;
  display: none;
  width: 100%;
}

/*.ktrtujuan{
  color: #282828;
  font-family: Source Sans Pro;
  background-color: #FBF2ED;
  border: 3px solid #282828;
  text-align: justify;
  padding: 2%;
  padding-bottom: 5%;
  margin-top: -15px;
  display: none;
  overflow: hidden;
  width: 100%;
}*/

.bacayuk{
  color: #282828;
  font-family: Source Sans Pro;
  width: 90%;
  text-align: justify;
  padding: 2%;
  margin-top: -3px;
}

.rumus{
  background-color: #FF9F98;
  border: 3px solid #262626;
  border-radius: 10px;
  margin-left: 35%;
  width: 40%;
  text-align: center;
}

.contoh{
  color: #282828;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FF9F98;
  border: 3px #282828 solid;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 1%;
  margin-top: 3%;
}

.isicontoh{
  color: #282828;
  font-family: Source Sans Pro;
  background-color: #FBF2ED;
  border: 3px solid #282828;
  border-radius: 0;
  width: 100%;
  text-align: justify;
  padding: 2%;
  margin-top: -8px;
}

.diketahui{
  border: 3px #282828 solid;
  border-radius: 10px;
  width:100px;
  height:30px;
  text-align:center;
}

.kesimpulan{
  color: #282828;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #CBDBF6;
  border: 3px #282828 solid;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  padding: 1%;
}

.isikesimpulan{
  color: #282828;
  font-family: Source Sans Pro;
  background-color: #FBF2ED;
  border: 3px solid #282828;
  border-radius: 0;
  width: 100%;
  text-align: justify;
  padding: 2%;
  margin-top: -8px;
}

.petunjukpengerjaan{
  color: #282828;
  font-family: Source Sans Pro;
  background-color: #FFFFFF;
  border: 3px #282828 solid;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  padding: 2%;
  margin-top: 2%;
}

.labeldatadiri{
  color: #FFFFFF;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #282828;
  border: 3px #282828 solid;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
}

.isidatadiri{
  color: #282828;
  font-family: Source Sans Pro;
  background-color: #FFFFFF;
  border: 3px solid #282828;
  border-radius: 0;
  width: 100%;
  text-align: justify;
  padding: 2%;
  margin-top: -8px;
}

.mulaiberlatih{
  background-color: #97B6EC;
  border: 1px solid #282828;
  border-radius: 5px;
  width: 150px;
  padding: 1%;
  font-family: Source Sans Pro;
  text-align: center;
  color: #282828;
}

.mulaiberlatih:hover{
  color: #282828;
  background-color: #CBDBF6;  
}

.soallatihan{
  color: #282828;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FF9F98;
  border: 3px #282828 solid;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding: 1%;
  margin-top: 3%;
}

.isisoallatihan{
  color: #282828;
  font-family: Source Sans Pro;
  background-color: #FBF2ED;
  border: 3px solid #282828;
  border-radius: 0;
  width: 100%;
  text-align: justify;
  padding: 2%;
  margin-top: -8px;
}

.cekjawaban{
  background-color: #97B6EC;
  border: 1px solid #282828;
  border-radius: 5px;
  color: #262626;
  margin: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

.cekjawaban:hover{
  background-color: #CBDBF6;
  border: 1px solid #282828;
  border-radius: 5px;
}

.cobalagi{
  background-color: #FF9F98;
  border: 1px solid #282828;
  border-radius: 5px;
  color: #262626;
  margin: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

.cobalagi:hover{
  background-color: #FFCFCC;
  border: 1px solid #282828;
  border-radius: 5px;
}

/*PAGINATION*/
.page-item a{
  background-color: #262626;
  border: 3px solid #97B6EC;
  border-radius: 10;
  color: #FBF2ED;
  font-family: Poppins, Verdana, sans-serif;
}

.aktif a{
  background-color: #97B6EC;
  border-radius: 10;
  color: #262626;
}

.page-item a:hover{
  background-color: #98B6EC;
  border: 3px solid #97B6EC;
  border-radius: 10;
  color: #262626;
}

.menuside a:hover:not(.aktif) {
  background-color: #262626;
  border: 3px solid #97B6EC;
  border-radius: 10;
  color: #FBF2ED;
}

table{
  text-align: center;
}

th{
  background-color: #CBDBF6;
  border:  1px solid #282828;
  padding: 1%;
}

td{
  border: 1px solid #282828;
}