html, body{
  background-color: #FCF4EC;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.jumbotorn{
  background-color: #FBF2ED;
  color: #97B6EC;
  font-family: Poppins, Verdana, sans-serif;
  margin: 0;
}

/*==================== ***BERANDA*** ====================*/
.isiberanda{
  margin: 0;
  padding: 10%;
  padding-bottom: 0;
}

.isiberanda h1{
  font-family: Poppins, Verdana, sans-serif;
  font-weight: bold;
  color: #97B6EC;
  letter-spacing: 2px;
  padding: 10% 0% 5% 0%;
  font-size: 3rem;
}

.isiberanda h5{
  font-family: Poppins;
  color: #282828;
  font-weight: normal;
  text-align: left;
  padding: 0% 0% 4% 0%; 
}

.gbrberanda{
/*  padding: 3%;*/
  margin: 0;
  width: 100%;
}

.btnberanda{
  background-color: none;  
  border: 2px solid #97B6EC;
  border-radius: 50px;
  outline: none; 
  padding: 2% 5%;
  transition-duration: 0.4s;
  z-index: 1;  
  font-family: Poppins, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #97B6EC;
}

.btnberanda:hover{
  color: #FBF2ED;
  background-color: #97B6EC;
}

/*==================== ***NAVBAR*** ====================*/
.navbar a:hover{
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.navbar{
  background-color: #98B6EC;
  padding: 2% 2% 2% 2%;
}

.navicon{
  width: 25px;
}

h4{
  margin: auto;
  width: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #FBF2ED;
  font-family: Poppins, Verdana, sans-serif;
  letter-spacing: 2px;
  padding-right: 2%;
}

/*==================== ***MENU*** ====================*/
.menu{
  text-align: center;
  padding: 10% 0% 10% 0%;
}

.btnmenubiru{
  background-color: none;
  width: 150px;
  border: 2px solid #97B6EC;  
  border-radius: 50px;
  font-family: Poppins, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: #97B6EC;  
  transition-duration: 0.4s;
  cursor: pointer;
}

.btnmenubiru:hover{
  color: #FBF2ED;
  background-color: #97B6EC;
}

.btnmenupink{
  background-color: none;
  width: 150px;
  border: 2px solid #FF9F98; 
  border-radius: 50px;
  font-family: Poppins, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: #FF9F98;  
  transition-duration: 0.4s;
  cursor: pointer; 
}

.btnmenupink:hover{
  color: #FBF2ED;
  background-color: #FF9F98;
}


/*==================== ***EVALUASI*** ====================*/
.evaluasi{
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.labelpetunjuk{
  color: #282828;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FF9F98;
  border: 3px #282828 solid;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 1%;
}

.isipetunjuk{
  color: #282828;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FCF4EC;
  border: 3px solid #282828;
  border-radius: 0px;
  width: 100%;
  text-align: left;
  padding: 3%;
  margin-top: -8px;
  margin-bottom: 3%;
}

.labeldatadiri{
  color: #282828;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FF9F98;
  border: 3px #282828 solid;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 1%;
}

.isidatadiri{
  color: #282828;
  font-family: Poppins;
  background-color: #FBF2ED;
  border: 3px solid #282828;
  border-radius: 0;
  width: 100%;
  text-align: justify;
  padding: 3%;
  margin-top: -8px;
}

.mulaiberlatih{ 
  background-color: #97B6EC;
  border: 1px solid #282828;
  border-radius: 5px;
  color: #262626;
  margin: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 170px;
  font-family: Poppins, Verdana, sans-serif;
}

.mulaiberlatih:hover{
  color: #282828;
  background-color: #FBF2ED;  
}

.labelevaluasi{
  color: #282828;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FF9F98;
  border: 3px #282828 solid;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 1%;
}

.isievaluasi{
  color: #282828;
  font-family: Poppins;
  background-color: #FBF2ED;
  border: 3px solid #282828;
  border-radius: 0;
  width: 100%;
  text-align: justify;
  padding: 3%;
  margin-top: -8px;
}

.soalselanjutnya{
  background-color: #97B6EC;
  border: 1px solid #282828;
  border-radius: 5px;
  color: #262626;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 160px;
  margin: 3% 0% 0% 0%;
}

.soalselanjutnya:hover{
  background-color: #FBF2ED;
  border: 1px solid #282828;
}

.cekjawaban{
  background-color: #97B6EC;
  border: 1px solid #282828;
  border-radius: 5px;
  color: #262626;
  margin: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

.cekjawaban:hover{
  background-color: #FBF2ED;
  border: 1px solid #282828;
}

/*==================== ***NILAI EVALUASI*** ====================*/

.ketnilaievaluasi{
  background-color: #FBF2ED;
  border: 2px solid #282828;
  border-radius: 10px;
  width: 600px;
  padding: 3%;  
  font-family: Poppins, Verdana, sans-serif;
  font-size: 1.2rem;  
  color: #262626;
  text-align: center;
  margin: 0 auto;  
}

.kembalimateri{
  background-color: #97B6EC;
  border: 1px solid #282828;
  border-radius: 5px;
  color: #262626;
  margin: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 200px;
}

.kembalimateri:hover{
  background-color: #FBF2ED;
  border: 1px solid #282828;
}

/*==================== ***SIDEBAR*** ====================*/
.boxsidebar{
  background-color: #FBF2ED;
  width: 100%;
  height: 100%;
  margin: 7% 0% 0% 0%;
  font-family: Poppins, Verdana, sans-serif;
  font-size: 1rem;
  text-align: left;
}

.sidebar{
  margin: 5% 3% 3% 3%;
}

.sidebar a{
  color: #262626;
  text-align: justify;
  display: block;
  width: 100%;
  margin: 5% 0% 0% 0%;  
}

.sidebar a.active {
  background-color: #98B6EC;
  color: #262626;
  border-radius: 10px;
}

.sidebar a:hover:not(.active) {
  background-color: #D4D4D4;
  border-radius: 10px; 
  color: #262626;
  cursor: pointer;
}

/*==================== ***KIKD & INFORMAS*** ====================*/

.boxinfo, .boxkikd{
  background-color: #FBF2ED;
  width: 100%;
  margin: 7% 0% 0% 0%;
  font-family: Poppins, Verdana, sans-serif; 
}

.info, .kikd{
  background-color: #FFE2E0;
  border-radius: 10px;
  border: 0;
  height: 470px;
  margin: 3% 3% 3% 3%;  
  padding: 3%;
  overflow: auto;
  font-family: Poppins, Verdana, sans-serif;   
  color: #282828;
  line-height: 27px;
  letter-spacing: 0.5px;
}