html, body{
  background-color: #FCF4EC;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/*==================== ***SIDEBAR*** ====================*/
::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #FFC4C0;
}

::-webkit-scrollbar-thumb {
  background-color: #FF8D85;
  border-radius: 25px;  
}

.sidebar{
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FCF4EC;
  font-size: 1rem;
}

.judulside{
  font-family: Poppins, Verdana, sans-serif; 
  text-align: left;
  padding-left: 10%;
  letter-spacing: 1px;
  padding-top: 20%;
  margin: 0% 0% 6% 0%;
  color: #262626;
}

.menuside a{
  color: #262626;
  text-align: justify;
  display: block;
  margin: 3% 0% 0% 0%;
  border-radius: 10px;  
}

.menuside a.active {
  background-color: #97B6EC;
  color: #262626;
}

.menuside a:hover:not(.active) {
  background-color: #D4D4D4;
  color: #262626;
  cursor: pointer;
}

.kembali{
  font-family: Poppins, Verdana, sans-serif; 
  text-align: left;
  margin: 6% 0% 3% 0%;
}

.kembali a{
  color: #262626;
}

.kembali a:hover{
  color: #5688E0;
}


/*==================== ***ISI MATERI*** ====================*/
.isimateri{
  background-color: #FFE2E0;
  border-radius: 10px;
  border: 0;
  color: #262626;
  height: 560px;
  padding: 3%;
  overflow: auto;
  margin: 3%;   
}

.jdlsubmateri{
  color: #262626;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #97B6EC;
  border: 3px solid #262626;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
}

.tujuan{
  color: #262626;
  font-family: Poppins;
  background-color: #FBF2ED;
  border: 3px solid #262626;
  text-align: left;
  padding: 3%;
  margin-top: -15px;
  letter-spacing: 0.5px;
}

.jdlpendahuluan, .jdlsubsub{
  color: #262626;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FF9F98;
  border: 3px #262626 solid;
  border-radius: 10px;
  text-align: center;
  padding: 1%;
  font-size: 1vw;
  margin-top: 3%;
}

.isipendahuluan, .isisubsub{
  color: #262626;
  font-family: Poppins;
  background-color: #FBF2ED;
  border: 3px solid #262626;
  text-align: justify-all;
  padding: 3%;
  margin-top: -14px;
  margin-bottom: 3%;
  letter-spacing: 0.5px;  
}

.videoapersepsi{
  margin-bottom: 3%;
}

.ketnohalaman{
  background-color: #FBF2ED;
  border: 1px solid #262626;
  border-radius: 5px;
  color: #262626;
  margin: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 50px; 
}

.ketselanjutnya{
  background-color: #FBF2ED;
  border: 1px solid #262626;
  border-radius: 5px;
  color: #262626;
  margin: 1%;
  text-align: center;
  width: 150px;
}

.rumus{
  background-color: #CBDBF6;
  border: 1px solid #262626;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2%;
  text-align: center;
}

mark{
  background-color: #FFD9D6;
  padding: 0% 1% 0% 1%;
}

/*==================== ***LATIHAN*** ====================*/
.petunjukpengerjaan{
  color: #262626;
  font-family: Poppins;
  background-color: #FFFFFF;
  border: 3px #262626 solid;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  padding: 2%;
  margin-top: 2%;
}

.labeldatadiri{
  color: #FFFFFF;
  font-family: Poppins, Verdana, sans-serif;
  background-color: #262626;
  border: 3px #262626 solid;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
}

.isidatadiri{
  color: #262626;
  font-family: Poppins;
  background-color: #FFFFFF;
  border: 3px solid #262626;
  border-radius: 0;
  width: 100%;
  text-align: justify;
  padding: 2%;
  margin-top: -8px;
}

.inputdata: before{
  background-color: #FFFFFF;
  border: 3px #262626 solid 5px;
}

/*==================== ***TOMBOL*** ====================*/
.mulaiberlatih, .cekjawaban{
  background-color: #97B6EC;
  border: 1px solid #282828;
  border-radius: 5px;
  color: #262626;
  margin: 3% 0% 3% 0%;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 180px;
  font-family: Poppins, Verdana, sans-serif;
}

.mulaiberlatih:hover, .cekjawaban:hover{
  color: #282828;
  background-color: #FBF2ED; 
}

.cobalagi{
  background-color: #FF9F98;
  border: 1px solid #282828;
  border-radius: 5px;
  color: #262626;
  margin: 3% 0% 3% 0%;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 150px;
  font-family: Poppins, Verdana, sans-serif;
}

.cobalagi:hover{
  color: #282828;
  background-color: #FBF2ED;
}

/*==================== ***HALAMAN*** ====================*/
.halaman{
  margin: 0 auto;
  font-family: Poppins, Verdana, sans-serif;
}

.sebelumnya, .selanjutnya{
  background-color: #FBF2ED;
  border: 1px solid #262626;
  border-radius: 5px;
  color: #262626;
  margin: 3% 0% 3% 0%;
  text-align: center;
  width: 150px;
}

.sebelumnya:hover, .selanjutnya:hover{
  background-color: #262626;
  border: 1px solid #262626;
  border-radius: 5px;
  color: #FFE2E0;
}

.nohal{
  background-color: #FBF2ED;
  border: 1px solid #262626;
  border-radius: 5px;
  color: #262626;
  margin: 3% 0% 3% 0%;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  width: 50px; 
}

.nohal:hover{
  background-color: #262626;
  border: 1px solid #262626;
  color: #FFE2E0;  
}

.aktif{
  background-color: #262626;
  border: 1px solid #262626;
  border-radius: 5px;
  color: #FFE2E0; 
  margin: 3% 0% 3% 0%;
  cursor: pointer;
  text-align: center;
  width: 50px;
}

.aktif:hover{
  background-color: #FFE2E0;
  border: 1px solid #262626;
  color: #262626;  
}

/*==================== ***TABEL BACA, YUK*** ====================*/
.tabel_menurun {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.tabel_menurun th{
  background-color: #CBDBF6;
  border:  1px solid #262626;
  padding: 3%;
}

.tabel_menurun td{
  background-color: #FBF2ED; 
  border: 1px solid #262626;
  padding: 3%; 
}

/*==================== ***TABEL COBA, YUK*** ====================*/
.tabel_mendatar{
  margin: 0 auto;
  text-align: center;
  width: auto;  
}

.tabel_mendatar th{
  background-color: #CBDBF6;
  border: 1px solid #262626;
}

.tabel_mendatar td{
  background-color: #FBF2ED;   
  border: 1px solid #262626;  
}