html, body{
  background-color: #FCF4EC;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/*SIDEBAR*/

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #FFC4C0;
}

::-webkit-scrollbar-thumb {
  background-color: #FF8D85;
  border-radius: 25px;  
}

.sidebar{
  font-family: Poppins, Verdana, sans-serif;
  background-color: #FCF4EC;
  height: 100%;
  font-size: 1rem;
}

.judulside{
  font-family: Poppins, Verdana, sans-serif; 
  text-align: left;
  padding-left: 10%;
  letter-spacing: 1px;
  padding-top: 20%;
  margin: 15% 0% 10% 0%;
}

.menuside a{
  color: #262626;
  text-align: justify;
  display: block;
  margin: 3% 0% 0% 0%;
  border-radius: 10px;
}

.menuside a.active {
  background-color: #98B6EC;
  color: #262626;
}

.menuside a:hover:not(.active) {
  background-color: #D4D4D4;
  color: #262626;
  cursor: pointer;
}

.logout{
  font-family: Poppins, Verdana, sans-serif; 
  text-align: left;
  margin: 10% 0% 3% 0%;
}

.logout a{
  color: #262626;
}

/*area konten*/

.header{
  color: #262626;
  font-family: Poppins, Verdana, sans-serif;
  text-align: center;
  padding: 1%;
}

.daftar_nilai{
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #282828;
  height: 500px;
  padding: 3%;
  overflow: auto;
  margin: 5%; 
}

.tabel_nilai{
  text-align: center;
  border: 1px solid;
}

.tabel_nilai tr, .tabel_nilai th, .tabel_nilai td{
  border: 1px solid;
}